project:
  type: website
  output-dir: docs
  lib-dir: site_libs
  render:
    - index.qmd
    - faq.qmd
    - computing/*.qmd
    - case-studies/*.qmd
    - syllabus.qmd
    - course-setup.qmd
    - schedule/index.qmd
    - schedule/slides/*.qmd

execute:
  freeze: auto

editor: source

repo-actions: false

website:
  title: UBC DSCI 200
  repo-url: https://github.com/UBC-DSCI/dsci-200
  issue-url: https://github.com/UBC-DSCI/dsci-200/issues/new/
  repo-actions: [source, issue, edit]

  navbar:
    pinned: true
    title: "{{< fa chart-column >}} UBC DSCI 200"
    right:
      - text: Syllabus
        url: syllabus.qmd
      - text: Schedule
        url: schedule/index.qmd
     # - text: Worksheets
     #   url: https://github.com/UBC-STAT/dsci-200
      - text: Computing
        url: computing/index.qmd
      - text: Case Studies
        url: case-studies/index.qmd
      - text: FAQ
        url: faq.qmd
      - text: "{{< fa brands github >}} Github"
        url: https://github.com/UBC-DSCI/dsci-200
        
format:
  html:
    theme: [cosmo, assets/styles.scss]
    toc: true

